<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="varyModalLabel">Request A Loan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">How much you need?</label>
            <input type="number" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="payback-date" class="col-form-label">When you will payback?</label>
            <input type="date" class="form-control" id="payback-date">
          </div>
          <div class="form-group">
            <p>You have to back: <strong> $<span>0</span> LRD</strong></p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn mb-2 btn-primary">Send Request</button>
      </div>
    </div>
  </div>