<!doctype html>
<html class="no-js" lang="zxx">

<!-- head  -->
<%- include('./partials/landing-page-head'); -%>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include('./partials/landing-page-nav-bar'); -%>
    <!-- header-end -->

      <!-- bradcam_area  -->
      <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Register Now</h3>
                    </div>
                </div>
            </div>
        </div>            
    </div>
    <!--/ bradcam_area  -->
    
    <!-- apply_form_area -->
    <div class="apply_form_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">

        
                    <div class="alert alert-success" role="alert" id="result-area">
                        This is a danger alert—check it out!
                    </div>

                    <form action="#" class="apply_form" id="registration-form">
                        <div class="row">
                            <!-- personal info  -->
                            <div class="col-lg-12">
                                <div class="apply_info_text text-left">
                                    <h3><strong>Personal Info</strong></h3>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="first-name">First Name (Required*)</label>
                                    <input type="text"  Name*" value="Dummy First Name"  required minlength="2" id="first-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="middle-name">Middle Name</label>
                                    <input type="text"   id="middle-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="last-name">Last Name (Required*)</label>
                                    <input type="text" value="Dummy Last Name"  required minlength="2" id="last-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="date-of-birth">Date of Birth (Required*)</label>
                                    <input type="date"   required id="date-of-birth">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="home-address">Home Address (Required*)</label>
                                    <input type="text" value="Dummy Address"   required minlength="2" id="home-address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="contact-number">Contact Number (Required*)</label>
                                <div class="single_field">
                                    <input type="tel"  placeholder="Format: +231880446208" required id="contact-number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="nin-number">National ID Card/NIN Number (Required*)</label>
                                    <input type="number" id="nin-number" required minlength="10"  >
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="national-id-card">National ID Card</label>
                                    <input type="file" id="national-id-card">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="position">What is your current Position at Job? (Required*)</label>
                                    <input type="text" value="Dummy Position"  required minlength="2" id="position">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="">Do you receive your salary through Mobile Money? (Required*)</label>
                                    <select class="wide" id="salary-acceptance">
                                        <option data-display="" disabled></option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="mobile-money-number" >Mobile Money Number (Required*)</label>
                                    <input type="tel" placeholder="Format: 0880446208" required id="mobile-money-number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="salary-per-month">Salary per Month (Required*)</label>
                                    <input type="number" value="200"  required id="salary-per-month">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="">Which currency are you paid with? (Required*)</label>
                                    <select class="wide" id="currency">
                                        <option data-display="" selected disabled></option>
                                        <option value="USD">USD</option>
                                        <option value="LRD" selected>LRD</option>
                                    </select>
                                </div>
                            </div>
                            
                            
                            <!-- employer's section  -->
                            <div class="col-lg-12 mt-5">
                                <div class="apply_info_text text-left">
                                    <h3><strong>Employer's Info</strong></h3>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="employer-name">Employer's Name (Required*)</label>
                                    <input type="text" value="Dummy employer name" required minlength="2" id="employer-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="employer-address">Employer's Address (Required*)</label>
                                    <input type="text" value="Dummy Employer Address"  required minlength="2" id="employer-address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="hr-full-name">HR Full Name (Required*)</label>
                                    <input type="text" value="Dummy HR Fullname"   required minlength="2" id="hr-full-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="hr-home-address">HR Home Address (Required*)</label>
                                    <input type="text" value="Dummy Address"  required minlength="2" id="hr-home-address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="hr-contact-number">HR Contact Number (Required*)</label>
                                    <input type="text" value="00000"  required id="hr-contact-number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="employment-letter">Employment Letter</label>
                                    <input type="file" id="employment-letter">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="">Employment Contract</label>
                                    <input type="file" id="employment-contract">
                                </div>
                            </div>

                            <!-- guarantor's section  -->
                            <div class="col-lg-12 mt-5">
                                <div class="apply_info_text text-left">
                                    <h3><strong>Guarantor's Info</strong></h3>
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="gurantor-fullname">Guarantor's Full Name (Required*)</label>
                                    <input type="text" value="Dummy Guarantor Fullname"  required minlength="2" id="gurantor-fullname">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="gurantor-dob">Guarantor's Date of Birth (Required*)</label>
                                    <input type="date"   required value="02/08/2022" id="gurantor-dob">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="gurantor-phone-number">Guarantor's Contact Number (Required*)</label>
                                    <input type="tel" value="8388" required id="gurantor-phone-number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="gurantor-home-address">Guarantor's Home Address (Required*)</label>
                                    <input type="text" value="Dummy Address"  required minlength="2" id="gurantor-home-address">
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="gurantor-relationship">What is your Relationship to the Guarantor? (Required*)</label>
                                    <input type="text" value="Father" placeholder="Gurantor Relationship*"  required id="gurantor-relationship">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="">MOU from Gurantor</label>
                                    <input type="file" placeholder="MOU from Gurantor" id="guarantor-mou">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="">Gurantor Government Issue ID Card</label>
                                    <input type="file" placeholder="Gurantor Government Issue ID Card" id="guarantor-id-card">
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="submit_btn" id="registration-btn">
                                    <button class="boxed-btn3" type="submit">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ apply_form_area -->
     <!-- how it works section  -->
     <%- include('./partials/how-it-work-section'); -%>


    <!-- footer start -->
    <%- include('./partials/landing-page-footer'); -%>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
    <script src="js/slick.min.js"></script>



    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>


    <script src="js/main.js"></script>
    <script src="js/registration.js"></script>

</body>

</html>