<!doctype html>
<html class="no-js" lang="zxx">

<!-- head  -->
<%- include('./partials/landing-page-head'); -%>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include('./partials/landing-page-nav-bar'); -%>
    <!-- header-end -->

      <!-- bradcam_area  -->
      <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Register Now</h3>
                    </div>
                </div>
            </div>
        </div>            
    </div>
    <!--/ bradcam_area  -->
    
    <!-- apply_form_area -->
    <div class="apply_form_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <form action="#" class="apply_form" id="registration-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="apply_info_text text-left">
                                    <h3>Personal Info</h3>
                                    <!-- <p>We provide online instant cash loans with quick approval that suit your term length</p> -->
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="First Name*" value="Boakai" required id="first-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Middle Name" value="Dobor" id="middle-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Last Name*" value="Kamara" required id="last-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Date of Birth*" value="2/3/2020" required id="date-of-birth">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Home Address*" value="Kebbah" required id="home-address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Contact Number*" value="089393" required id="contact-number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Position at Job*" value="Devloper" required id="position">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <select class="wide" id="salary-acceptance">
                                        <option data-display="Accept Salary Through Mobile Money*">Accept Salary Through Mobile Money</option>
                                        <option value="true" selected>Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Mobile Money Number*" value="0889399393" required id="mobile-money-number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="number" placeholder="Salary Per Month*" value="800" required id="salary-per-month">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <select class="wide" id="currency">
                                        <option data-display="Currency*">Currency</option>
                                        <option value="true">USD</option>
                                        <option value="false" selected>LRD</option>
                                      </select>
                                </div>
                            </div>
                            

                            <!-- employer's section  -->
                            <div class="col-lg-12 mt-5">
                                <div class="apply_info_text text-left">
                                    <h3>Employer Info</h3>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Employer's Name*" value="Easy Solar" required id="employer-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Employer's Address*" value="Congo Town" required id="employer-address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="HR Director Full Name" value="Mary Bull" required id="hr-full-name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="HR Director Home Address*" value="Sinkor" required id="hr-home-address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="HR Director Phone Number*" value="088038392" required id="hr-contact-number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="">Employment Letter</label>
                                    <input type="file" placeholder="Employment Letter" >
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="">Employment Contract</label>
                                    <input type="file" placeholder="Employment Contract">
                                </div>
                            </div>

                            <!-- gurantor's section  -->
                            <div class="col-lg-12 mt-5">
                                <div class="apply_info_text text-left">
                                    <h3>Gurantor Info</h3>
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Gurantor Full Name*" value="Dorbor Kamara" required id="gurantor-fullname">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="date" placeholder="Gurantor Date of Birth*"  required value="02/08/2022" id="gurantor-dob">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Gurantor Home Address*" value="Barnersville" required id="gurantor-home-address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Gurantor Phone Number*" value="079933" required id="gurantor-phone-number">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <select class="wide" id="gurantor-relationship">
                                        <option data-display="Gurantor Relation to you">Gurantor Relation to you</option>
                                        <option value="1">Spouse</option>
                                        <option value="2">Mother</option>
                                        <option value="2" selected>Father</option>
                                        <option value="2">Mother</option>
                                        <option value="2">Child</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="">MOU from Gurantor</label>
                                    <input type="file" placeholder="MOU from Gurantor">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <label for="">Gurantor Government Issue ID Card</label>
                                    <input type="file" placeholder="Gurantor Government Issue ID Card">
                                </div>
                            </div>
                            <!-- <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Phone no.">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <select class="wide">
                                        <option data-display="Purpose">Purpose</option>
                                        <option value="1">Purpose 1</option>
                                        <option value="2">Purpose 2</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <select class="wide">
                                        <option data-display="Amount">Amount</option>
                                        <option value="1">$10</option>
                                        <option value="2">$20</option>
                                        <option value="3">$30</option>
                                      </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" name="" id="datepicker" placeholder="Month">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="pay_text">
                                    <p>You have to pay: <span>$0</span></p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single_field">
                                    <textarea name="#" id="" cols="30" rows="10" placeholder="Message" ></textarea>
                                </div>
                            </div> -->
                            
                            <div class="col-md-12 my-3">
                                <input type="checkbox" id="policy" name="Terms & Policy" value="True"  checked/>
                                <label for="policy">Accept Terms & Policy</label>
                            </div>
                            <div class="col-md-12">
                                <div class="submit_btn" id="registration-btn">
                                    <button class="boxed-btn3" type="submit">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ apply_form_area -->
     <!-- how it works section  -->
     <%- include('./partials/how-it-work-section'); -%>


    <!-- footer start -->
    <%- include('./partials/landing-page-footer'); -%>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
    <script src="js/slick.min.js"></script>



    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>


    <script src="js/main.js"></script>
    <script src="js/registration-form.js"></script>

</body>

</html>