<!doctype html>
<html class="no-js" lang="zxx">

<!-- head  -->
<%- include('./partials/landing-page-head'); -%>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <%- include('./partials/landing-page-nav-bar'); -%>
    <!-- header-end -->

      <!-- bradcam_area  -->
      <div class="bradcam_area bradcam_bg_3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <!-- <h3>Register Now</h3> -->
                    </div>
                </div>
            </div>
        </div>            
    </div>
    <!--/ bradcam_area  -->
    
    <!-- apply_form_area -->
    <div class="apply_form_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">

        
                    <div class="alert alert-success d-none" role="alert" id="result-area">
                        This is a danger alert—check it out!
                    </div>

                    <form action="#" class="apply_form" id="registration-form">
                        <!-- step 1 -->
                        <div class="row" id="step1-personal-info">
                            <!-- personal info  -->
                            <div class="col-lg-12">
                                <div class="apply_info_text text-left">
                                    <h1 class="text-center" id="form-header"><strong>Let's Get Started</strong></h1>
                                    <p class="text-center" id="form-body-copy">Provide basic personal info.</p>
                                </div>
                            </div>
                            <!-- first name  -->
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="First Name (required*)"  required minlength="2" id="first-name">
                                </div>
                            </div>
                            <!-- middle name  -->
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Middle Name" id="middle-name">
                                </div>
                            </div>
                            <!-- last name  -->
                            <div class="col-md-12">
                                <div class="single_field">
                                    <input type="text" placeholder="Last Name (required*)"  required minlength="2" id="last-name">
                                </div>
                            </div>
                            <!-- btn  -->
                            <div class="col-md-12">
                                <div class="submit_btn" >
                                    <button class="boxed-btn3"  type="submit"  id="personal-info-btn">Next</button>
                                </div>
                            </div>
                        </div>
                        <!-- step 2 -->
                        <div class="row d-none" id="step2-mobile-money-info">
                            <!-- mobile money info  -->
                            <div class="col-lg-12">
                                <div class="apply_info_text text-left">
                                    <h1 class="text-center"><strong>Mobile Money Details</strong></h1>
                                    <p class="text-center">This should be an active Money Number register in your name. <br> You will receive an OTP to your phone via sms.</p>
                                </div>
                            </div>
                            <!-- mobile money number  -->
                            <div class="col-md-12">
                                <div class="single_field ">
                                    <input type="tel" placeholder="Mobile Money Number (0880526256)" minlength="10" maxlength="10"  id="mobile-money-number">
                                </div>
                            </div>
                        
                            <div class="col-md-12">
                                <div class="submit_btn" >
                                    <button class="boxed-btn3" type="submit" id="mobile-money-number-submit-btn">Next</button>
                                </div>
                            </div>
                        </div>
                        <!-- step 3  -->
                        <div class="row d-none" id="step3-confirm-mobile-money-info">
                            <!-- otp info  -->
                            <div class="col-lg-12">
                                <div class="apply_info_text text-left">
                                    <h1 class="text-center" id="form-header"><strong>Confirm Mobile Money Number</strong></h1>
                                    <p class="text-center" id="form-body-copy">A code was sent to your number (0880543456), please enter below.</p>
                                </div>
                            </div>
                            <!-- otp  -->
                            <div class="col-md-12">
                                <div class="single_field ">
                                    <input type="password"  minlength="4" maxlength="4"  id="otp-code">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="apply_info_text text-left">
                                    <p>Didn't received code?<br> Wait 59 seconds or <a href="">resend code</a></p>
                                </div>
                            </div>
                            <!-- btn  -->
                            <div class="col-md-12">
                                <div class="submit_btn" >
                                    <button class="boxed-btn3" type="submit" id="confirm-mobile-money-number-submit-btn">Next</button>
                                </div>
                            </div>
                        </div>
                        <!-- step 4  -->
                        <div class="row d-none" id="step4-pin-code-info">
                            <!-- pin code info  -->
                            <div class="col-lg-12">
                                <div class="apply_info_text text-left">
                                    <h1 class="text-center" id="form-header"><strong>Create a PIN Code</strong></h1>
                                    <p class="text-center" id="form-body-copy">Create a 4-digits PIN code. To log in every time, you will use your PIN code.</p>
                                </div>
                            </div>
                            <!-- pin code  -->
                            <div class="col-md-12">
                                <div class="single_field ">
                                    <input type="password" placeholder="Enter a 4-digits PIN Code" minlength="4" maxlength="4"  id="pin-code">
                                </div>
                            </div>
                            <!-- confirm pin code  -->
                            <div class="col-md-12">
                                <div class="single_field ">
                                    <input type="password" placeholder="Confirm PIN Code"  minlength="4" maxlength="4"  id="confirmed-pin-code">
                                </div>
                            </div>
                        
                            <div class="col-md-12">
                                <div class="submit_btn" >
                                    <button class="boxed-btn3" type="submit" id="pin-code-submit-btn">Submit</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--/ apply_form_area -->
     <!-- how it works section  -->
     <%- include('./partials/how-it-work-section'); -%>


    <!-- footer start -->
    <%- include('./partials/landing-page-footer'); -%>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
    <script src="js/slick.min.js"></script>



    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>


    <script src="js/main.js"></script>
    <script src="js/registration.js"></script>

</body>

</html>